.create-card {
    padding-bottom: 1rem;
}

.input-card {
    width: 100%;
    display: block;
    background-color: transparent;
    border: solid 1px silver;
}

.input-card:focus {
    outline: none;

}

.cards-list {

    box-sizing: border-box;
    min-height: 30vh;
    width: 100%;
}

.card {
    margin-top: 1rem;
}

#save-card {
    display:block;
    border: solid 1px hotpink;
            box-sizing: border-box;
    padding-top:1rem;
    padding-bottom:1rem;
}